.body-container {
    background-color: #141432;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    position: relative;
}
.backhome-button_link{
    margin-left: 30px;
    margin-top: 20px;
    color: white;
}

.grid-container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}
.header-product {
    display: flex;
    justify-content: space-between;
}

.header-product-left {
    color: var(--text-color);
    margin-top: 20px;
}
.header-product-right {
    margin-top: 30px;
}
.header-product-right_pos {
    color: var(--text-color);
    margin-top: 20px;
}
.adding-product-btn {
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #fe9f43;
    padding: 5px;
    border-radius: 10px;
}
.adding-product-btn:hover {
    text-decoration: none;
    background-color: #1b2850;
    color: white;
    transition: .5s ease;
}
.adding-product-btn i {
    margin-top: 10px;
}
.adding-product-btn h5 {
    margin-left: 5px;
    margin-top: 5px;
}
.product-list-container {
    background-color: #1d1d42;
    width: 100%;
    height: 580px;
    border-radius: 5px;
    border: 1px solid #353570;
    margin-bottom: 50px;
    overflow-y: auto;
    /* Customize scrollbar */
    scrollbar-color: #6b6baf #1d1d42; /* Firefox */
    scrollbar-width: thin;
}

.product-list-container::-webkit-scrollbar {
    width: 10px; /* Set width for Chrome/Safari */
}

.product-list-container::-webkit-scrollbar-thumb {
    background-color: #6b6baf; /* Thumb color */
}

.product-list-container::-webkit-scrollbar-track {
    background-color: #1d1d42; /* Track color */
}

.product-container {
    width: 1250px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
.product-filter-icon {
    position: absolute;
    top: 20px;

}
.product-filter-btn {
    background-color: #fe9f43;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease;
}
.product-filter-btn:hover {
    background-color: #1b2850;
}
.product-filter-btn i{
    color: white;
}

.product-search {
    background-color: #1d1d42;
    display: flex;
    position: absolute;
    border: 1px solid #8ea0af;
    border-radius: 10px;
    top: 20px;
    left: 40px;
    padding: 5px 0;
}
.product-search_icon {
    position: absolute;
}
.product-search_icon i{
    color: #8ea0af;
    margin-left: 5px;
}
.product-search_box {
   margin-left: 25px; 
}
#product-search-box {
    background-color: #1d1d42;
    border: none;
    color: #84a2d2;
}
#product-search-box::placeholder {
    color: #8ea0af;
}
#product-search-box:focus {
    outline: none;
}
.product-file-icon {
    position: absolute;
    right: 0;
    top: 20px;
}
.product-file-icon i {
    color: #ea5455;
    font-size: 20px;
}
.product-list-section-container{ 
    position: absolute;
    top: 80px;
    width: 100%;
}
.product-list-header {
    position: relative;
    background-color: #141432;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.product-list-checkbox {
    margin-left: 10px;
}
.product-checkbox-input {
    padding: 20px;
    background-color: transparent; 
    width: 18px; /* Set the width to 30 pixels */
    height: 18px; 
}
.product-list-title {
    display: flex;
    color: var(--text-color);
    padding: 0 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.product-list-title, .product-list-item_info {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    text-align: center;
    min-height: 50px;
}
.product-list-title i {
   margin-top: -5px;
}
.product-list-title h6 {
    margin-left: 10px;
    font-size: 15px;
}
.product-list-item {
    position: relative;
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #353570;
}
.product-list-checkbox {
    flex: 0 0 auto; /* Don't grow, don't shrink, stay at initial size */
}
.product-list-item_info {
    display: flex;
    color: var(--text-color);
    margin-top: 5px;
    padding: 0 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    
}

.product-list-item_info:last-child {
    
    display: flex;
    justify-content: space-evenly;
}
.product-list-item_info_link_pos,
.product-list-item_delete_link_pos,
.product-list-item_info_link,
.staff-send-email_info_link {
    text-decoration: none;
    color: var(--text-color); 
}
.product-list-item_info_link_pos:hover,
.product-list-item_delete_link_pos:hover,
.product-list-item_info_link:hover,
.staff-send-email_info_link:hover {
    opacity: 0.6;
    color: var(--text-color); 
}

.block-staff_link.blocked {
    color: red;
}

.product-list-item_info h6 {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
// table list product :: newversion
.product-img {
    width: 40px;
    height: 40px;
}
.staff-img {
    width: 100px;
    height: 100px;
}
.product-table {
    color: var(--text-color);
    position: absolute;
    margin-top: 80px;
}
.icon-sort {
    margin-right: 10px;
}
.product-action {

}
// create product section
.create-product-row {
    margin-top: 20px;
}
.create-product-item h6{
    font-weight: 400;
    color: #86a2d2;
    margin-bottom: 10px;

}
.create-product-item input {
    width: 200px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #434764;
    color: var(--text-color);
    border-radius: 5px;
}
.create-product-item select {
    width: 200px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #434764;
    color: var(--text-color);
    border-radius: 5px;
}
#create-by option,
#create-brand option,
#create-category option {
    color: var(--text-color);
    background-color: #1d1d42;
}

#create-category option:hover {
    color: white;
    background-color: #fe9f43;
}
.create-product-item textarea,
.create-product-item input:focus {
    outline: 1px solid #fe9f43;
}
.create-product-item textarea {
    background-color: transparent;
    border: 1px solid #434764;
    color: #97a2d2;
    border-radius: 5px;
    width: calc(100% - 50px);
}
.file-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    width: calc(100% - 50px);
    color: var(--text-color);
}

.file-label i {
    font-size: 50px;
    margin-bottom: 10px;
}

#file-input {
    display: none;
}
.create-submit-btn {
    color: white;
    background-color: #fe9f43;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
    border: none;
}
.create-submit-btn:hover {
    color: white;
    transition: .5s ease;
    opacity: .8;
}
.create-cancel-btn {
    color: white;
    background-color: #424b52;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}
.create-cancel-btn:hover {
    text-decoration: none;
    background-color: #1b2850;
    color: white;
    transition: .5s ease;
}
// profile section
.profile-background {
    display: flex;
    height: 110px;
    background-image: linear-gradient(to right, #ed5d53, #f5784d, #fe9a45);
}
.profile-img {
    
}
.profile-img img{
    height: 80px;
    width: 80px;
    margin-left: 100px;
    margin-top: 15px;
    border-radius: 50%;
}
.profile-info {
    margin-left: 50px;
    margin-top: 20px;
}
.profile-info h2 {
    font-weight: 400;
}
// POS section
.product-list-container_pos {
    background-color: #1d1d42;
    width: 50%;
    height: 580px;
    border-radius: 5px;
    border: 1px solid #353570;
    margin-bottom: 50px;
    overflow-y: auto;
    /* Customize scrollbar */
    scrollbar-color: #6b6baf #1d1d42; /* Firefox */
    scrollbar-width: thin;
}
.product-table_pos_listitems,
.product-table_pos {
    color: var(--text-color);
    position: absolute;
    margin-top: 80px;
}
.product-table_pos_listitems {
    margin-top: 140px;
}
.product-container_pos {
    margin: 0 auto;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}
.product-list-item_delete_link_pos,
.product-list-item_info_link_pos{
    font-size: 20px;
    color: white;
    background-color: #fe9f43;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 0 5px;
}
.amount-btn_pos-plus,
.amount-btn_pos-minus {
    border: 1px solid #b9b9c3;
    border-radius: 5px;
    background-color: transparent;
    color: #b9b9c3;
    padding: 3px 5px;
    cursor: pointer;
}
.amount-btn_pos-plus {
    margin-right: 5px;
}
.amount-btn_pos-minus {
    margin-left: 5px;
}
.button-submit {
    margin-top: 20px;
    margin-bottom: 20px;
}
.transparent-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000; /* Optional: Add a bottom border for visibility */
    width: 40px;
    color: #000; /* Optional: Set text color to be visible */
    padding: 2px;
    color: var(--text-color); /* Optional: Add some padding for better appearance */
}

.transparent-input:focus {
    outline: none;
    border-color: #00f; 
}
.order-info {
    color: var(--text-color);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product-list-item_delete_link_pos {
    color: var(--text-color);
    text-decoration: none;
}
.product-list-item_delete_link_pos:hover {
    text-decoration: none;
}


