<div class="header-container">
   
    <div class="header-search">
        <div class="header-search_icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="header-search_box">
            <input type="text" id="search-box" placeholder="Search">
        </div>
    </div>

    <div class="header-nav">
        <div class="setting-btn_container">
            <button class="setting-btn">
                <a class="setting-btn_link" href=""><i class="fa-regular fa-bell"></i></a>
            </button>
            <button class="setting-btn">
                <a class="setting-btn_link" href=""><i class="fa-solid fa-gear"></i></a>
            </button>
        </div>
        
        <div class="profile-btn">
            <h2>Tran Thinh</h2>
            <h5>Super Admin</h5>
        </div>
        <div class="arrow-down-up">
            <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>

</div>

