<div class="navigation-container">
    <div class="navigation">
        <div class="nav-icon">
            <h3>HPT ICON</h3>
        </div>
        <div class="nav-item-container">
            <h4>Main</h4>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-house"></i>
                    <h3>Dashboard</h3>
                </a>
            </div>
        </div>
        <div class="nav-item-container">
            <h4>Products</h4>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Products</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-plus"></i>
                    <h3>Create Products</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Category</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Brand</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Products</h3>
                </a>
            </div>
        </div>
        <div class="nav-item-container">
            <h4>Products</h4>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Products</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-plus"></i>
                    <h3>Create Products</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Category</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Brand</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Products</h3>
                </a>
            </div>
        </div>
        <div class="nav-item-container">
            <h4>Products</h4>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Products</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-plus"></i>
                    <h3>Create Products</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Category</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Brand</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Products</h3>
                </a>
            </div>
        </div>
        <div class="nav-item-container">
            <h4>Products</h4>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Products</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-plus"></i>
                    <h3>Create Products</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Category</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Brand</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-box"></i>
                    <h3>Products</h3>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.navigation-container').mouseenter(function() {
            // Handle open the navigation
            $('.navigation-container').css('width', '260px');
            $('.nav-item_link').addClass('open');
        });


        $('.navigation-container').mouseleave(function() {
            // Handle close navigation
            $('.navigation-container').css('width', '75px');
            $('.nav-item_link').removeClass('open'); 
        });
    });
</script>