<div class="navigation-container">
    <div class="navigation">
        <div class="nav-icon">
            <img class="nav-icon_img" src="/img/logoHPT.jpg" alt="">
            <span class="nav-item-header">HPT POS</span>
        </div>
        {{!-- main section --}}
        <div class="nav-item-container">
            <h4 class="nav-item-header">Main</h4>
            <div class="nav-item">
                <a class="nav-item_link" href="/">
                    <i class="fa-solid fa-house"></i>
                    <h3>Dashboard</h3>
                </a>
            </div>
        </div>
        {{!-- product section --}}
        <div class="nav-item-container">
            <h4 class="nav-item-header">Products</h4>
            <div class="nav-item">
                <a class="nav-item_link" href="/product">
                    <i class="fa-solid fa-box"></i>
                    <h3>Products</h3>
                </a>
            </div>
            {{!-- this nav section for dashboard page --}}
            {{#if globalData.role}}
                {{#if (isAdmin globalData.role)}}
                    <div class="nav-item">
                        <a class="nav-item_link" href="/product/create-product">
                            <i class="fa-solid fa-plus"></i>
                            <h3>Create Products</h3>
                        </a>
                    </div>
                {{/if}}
            {{/if}}
            {{!-- this nav section for the rest page --}}
            {{#if username}}
                {{#if (isAdmin username)}}
                    <div class="nav-item">
                        <a class="nav-item_link" href="/product/create-product">
                            <i class="fa-solid fa-plus"></i>
                            <h3>Create Products</h3>
                        </a>
                    </div>
                {{/if}}
            {{/if}}

            <div class="nav-item">
                <a class="nav-item_link" href="">
                    <i class="fa-solid fa-list"></i>
                    <h3>Category</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="/brand">
                    <i class="fa-solid fa-tags"></i>
                    <h3>Brands</h3>
                </a>
            </div>
        </div>
        {{!-- Staff section --}}
        {{!-- this nav section for dashboard page --}}
        {{#if globalData.role}}
            {{#if (isAdmin globalData.role)}}
                <div class="nav-item-container">
                    <h4 class="nav-item-header">Manager</h4>
                    <div class="nav-item">
                        <a class="nav-item_link" href="/staff/admin">
                            <i class="fa-solid fa-user"></i>
                            <h3>Admin</h3>
                        </a>
                    </div>
                </div>
                <div class="nav-item-container">
                    <h4 class="nav-item-header">Sales People</h4>
                    <div class="nav-item">
                        <a class="nav-item_link" href="/staff">
                            <i class="fa-solid fa-user"></i>
                            <h3>Employees</h3>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-item_link" href="/staff/create-staff">
                            <i class="fa-solid fa-plus"></i>
                            <h3>Create Employees</h3>
                        </a>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        {{!-- this nav section for the rest page --}}
        {{#if username}}
            {{#if (isAdmin username)}}
                <div class="nav-item-container">
                    <h4 class="nav-item-header">Manager</h4>
                    <div class="nav-item">
                        <a class="nav-item_link" href="/staff/admin">
                            <i class="fa-solid fa-user"></i>
                            <h3>Admin</h3>
                        </a>
                    </div>
                </div>
                <div class="nav-item-container">
                    <h4 class="nav-item-header">Sales People</h4>
                    <div class="nav-item">
                        <a class="nav-item_link" href="/staff">
                            <i class="fa-solid fa-user"></i>
                            <h3>Employees</h3>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-item_link" href="/staff/create-staff">
                            <i class="fa-solid fa-plus"></i>
                            <h3>Create Employees</h3>
                        </a>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        {{!-- sale section --}}
        <div class="nav-item-container">
            <h4 class="nav-item-header">Sales</h4>
            <div class="nav-item">
                <a class="nav-item_link" href="/order">
                    <i class="fa-brands fa-first-order"></i>
                    <h3>Order</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="/pos">
                    <i class="fa-solid fa-cash-register"></i>
                    <h3>POS</h3>
                </a>
            </div>
        </div>
        {{!-- People section --}}
        <div class="nav-item-container">
            <h4 class="nav-item-header">Cusomer</h4>
            <div class="nav-item">
                <a class="nav-item_link" href="/customer">
                    <i class="fa-regular fa-user"></i>
                    <h3>Customers</h3>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-item_link" href="/customer/history">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <h3>History</h3>
                </a>
            </div>
        </div>
        <div class="nav-item-container">
            <h4 class="nav-item-header">Setting</h4>
            <div class="nav-item">
                <a class="nav-item_link" href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <h3>Logout</h3>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.nav-item-header').attr('hidden', true)

        $('.navigation-container').mouseenter(function() {
            // Handle open the navigation
            $('.navigation-container').css('width', '260px');
            $('.nav-item_link').addClass('open');
            $('.nav-item-header').attr('hidden', false)
        });


        $('.navigation-container').mouseleave(function() {
            // Handle close navigation
            $('.navigation-container').css('width', '75px');
            $('.nav-item_link').removeClass('open'); 
            $('.nav-item-header').attr('hidden', true)
            $(".nav-item").removeClass("active");
        });

        $(".nav-item").click(function() {
            // Remove 'open' class from all nav-items
             $(".nav-item, .nav-item i").removeClass("active");
    
            // Add 'active' class to the clicked nav-item and its icon
            $(this).addClass("active");
            $(this).find("i").addClass('active');
        });
        $(".nav-item_link").click(function(event) {
            event.preventDefault(); // Prevents the default behavior of the link

            // Get the target URL from the href attribute
            var targetUrl = $(this).attr('href');

            // Navigate to the target URL
            window.location.href = targetUrl;
        });
    });
</script>