<div class="body-container">
    <div class="grid-container">
        <div class="header-product">
            <div class="header-product-left">
                <h4>Changing password</h4>
                <p>Change Your Password</p>
            </div>
        </div>
        <form action="/changepassword" method="post">
        <div class="product-list-container">
            <div style="margin-left: 50px;" class="create-product-row row">
                <div class="col create-product-item">
                    <h6>Username</h6>
                    <input value="{{username}}" style="width: 300px;" type="text"name="username">
                </div>
                
                <div class="col create-product-item">
                    <h6>New Password</h6>
                    <input style="width: 300px;" type="text"name="password">
                </div>
                <div class="col create-product-item">
                    <h6>Comform Password</h6>
                    <input style="width: 300px;" type="text"name="comform-password">
                </div>
            </div>
            <div style="margin-left: 50px; text-align:center" class="create-product-row row">
                <div class="col create-product-item">
                    <button class="create-submit-btn" type="submit">Submit</button>
                    <a class="create-cancel-btn" href="/product">Cancel</a>
                </div>
            </div>
        </div>
        </form>
    </div>
    
</div>