<div class="body-container">
    <div class="grid-container">
        <div class="header-product">
            <div class="header-product-left">
                <h4>Employees Add</h4>
                <p>Create new Employees</p>
            </div>
        </div>
        <form action="/staff/create-staff" method="post">
        <div class="product-list-container">
            <div style="margin-left: 50px;" class="create-product-row row">
                <div class="col create-product-item">
                    <h6>Fullname</h6>
                    <input style="width: 300px;" type="text"name="fullName">
                </div>
                <div class="col create-product-item">
                    <h6>Email</h6>
                    <input style="width: 300px;" type="text"name="email">
                </div>
                <div hidden class="col create-product-item">
                    <h6>Role Staff</h6>
                    <input value="staff" type="text" name="role">
                </div>
                <div hidden class="col create-product-item">
                    <h6>Change Staff</h6>
                    <input value="0" type="text" name="change">
                </div>
                <div hidden class="col create-product-item">
                    <h6>Verified Staff</h6>
                    <input value="0" type="text" name="verified">
                </div>
            </div>
            <div style="margin-left: 50px;" class="create-product-row row">
                <div class="col create-product-item">
                    <h6>Choose Image</h6>
                    <label for="file-input" class="file-label">
                        <i class="fas fa-cloud-upload-alt"></i>
                        Drag and drop a file to upload
                    </label>
                    <input type="file" id="file-input" >
                    {{#if showAlert}}
                        {{#if code}}
                            <div class="alert alert-success mr-5 mt-3" role="alert" id="successAlert">
                                {{message}}
                            </div>
                        {{else}}
                            <div class="alert alert-danger mr-5 mt-3" role="alert" id="errorAlert">
                                {{message}}
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            
            <div style="margin-left: 50px; text-align:center" class="create-product-row row">
                
                <div class="col create-product-item">
                    <button class="create-submit-btn" type="submit">Submit</button>
                    <a class="create-cancel-btn" href="/product">Cancel</a>
                </div>
            </div>
        </div>
        </form>
    </div>
    
</div>
<script>
    const form = $('.create-submit-btn')
    const fullNameValue = $('input[name="fullName"]');
    const emailValue = $('input[name="email"]');

    form.click(e => {
        window.location.reload()
    })
    const checkDisplay = {{showAlert}}
    console.log(checkDisplay)
    if(checkDisplay) {
        setTimeout(function() {
            $('#errorAlert').css('display', 'none');
            $('#successAlert').css('display', 'none');
        }, 6000);
    }
</script>