<div class="dashboard-container">
    <div class="grid-container">
        <div class="row box-infor-container">
            <div class="col box-infor-item">
                <div class="box-infor-item_icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="box-infor-item_number">
                    <h4>$30202</h4>
                    <p>Total Purchase Due</p>
                </div>
            </div>
            <div class="col box-infor-item">
                <div class="box-infor-item_icon">
                    <i class="fa-solid fa-arrows-down-to-line"></i>
                </div>
                <div class="box-infor-item_number">
                    <h4>$30202</h4>
                    <p>Total Sale Amount</p>
                </div>
            </div>
            <div class="col box-infor-item">
                <div class="box-infor-item_icon">
                    <i class="fa-solid fa-arrows-down-to-line"></i>
                </div>
                <div class="box-infor-item_number">
                    <h4>$30202</h4>
                    <p>Total Sale Amount</p>
                </div>
            </div>
        </div>
        <div class="row box-infor-container">
            <div class="col box-infor-item" style="background-color: #ff9f43;">
                <div class="box-infor-item_customer-number">
                    <h3>100</h3>
                    <p>Customers</p>
                </div>
                <div class="box-infor-item_customer-icon">
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>
            <div class="col box-infor-item" style="background-color: #1b2850;">
                <div class="box-infor-item_customer-number">
                    <h3>100</h3>
                    <p>Purchase Invoice</p>
                </div>
                <div class="box-infor-item_customer-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
            <div class="col box-infor-item" style="background-color: #28c76f;">
                <div class="box-infor-item_customer-number">
                    <h3>100</h3>
                    <p>Sale Invoice</p>
                </div>
                <div class="box-infor-item_customer-icon">
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>
        </div>
    </div>
</div>