<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Link Expired</title>
    
    <!-- Add CSS for styling -->
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-image: linear-gradient(to bottom left, #e40911, #261192, #06d0e6);
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        div {
            text-align: center;
            background-color: #ffc700;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        i {
            font-size: 50px;
        }

        h1 {
            color: #f70404;
        }

        p {
            color: #000000;
        }
    </style>
    <!-- End of CSS -->
</head>
<body>
    <div>
        <i class="fa-solid fa-wrench"></i>
        <h1>Error - Link Expired</h1>
        <p>This link is only valid for 1 minute, and it has expired. Please contact the administrator to receive a new link.</p>
        <!-- You can customize the error message further if needed -->
    </div>
</body>
</html>
