<div class="body-container">
    <div class="grid-container">
        <div class="header-product">
            <div class="header-product-left">
                <h4>Product List</h4>
                <p>Manage Your Product</p>
            </div>
            <div class="header-product-right">
                <a href="" class="adding-product-btn">
                    <i class="fa-solid fa-plus"></i>
                    <h5>Adding Product</h5>
                </a>
            </div>
        </div>

        <div class="product-list-container">
            <div class="product-container">
                <div class="product-filter-icon">
                    <button class="product-filter-btn"><i class="fa-solid fa-filter"></i></button>
                </div>
                <div class="product-search">
                    <div class="product-search_icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="product-search_box">
                        <input type="text" id="product-search-box" placeholder="Search...">
                    </div>
                </div>
                <div class="product-file-icon">
                    <a href="/create-pdf"><i class="fa-solid fa-file-pdf"></i></a>
                </div>
                
                <div class="product-list-section-container">
                    <div class="product-list-header">
                        <div class="product-list-checkbox">
                            <input class="product-checkbox-input" type="checkbox" name="all-products">
                        </div>
                        <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Product Name</h6>
                        </div>
                         <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Category</h6>
                        </div>
                         <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Brand</h6>
                        </div>
                         <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Price</h6>
                        </div>
                        <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Qty</h6>
                        </div>
                        <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Create by</h6>
                        </div>
                        <div class="product-list-title">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Action</h6>
                        </div>
                    </div>
                    <div class="product-list-item">
                        <div class="product-list-checkbox">
                            <input class="product-checkbox-input" type="checkbox" name="products">
                        </div>
                        <div class="product-list-item_info">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Macbook pro</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-solid fa-pen-to-square"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                    <div class="product-list-item">
                        <div class="product-list-checkbox">
                            <input class="product-checkbox-input" type="checkbox" name="products">
                        </div>
                        <div class="product-list-item_info">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Macbook pro</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <i class="fa-regular fa-eye"></i>

                        </div>
                    </div>
                    <div class="product-list-item">
                        <div class="product-list-checkbox">
                            <input class="product-checkbox-input" type="checkbox" name="products">
                        </div>
                        <div class="product-list-item_info">
                            <i class="fa-solid fa-sort"></i>
                            <h6>Macbook pro</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                        <div class="product-list-item_info">
                            <h6>Computer</h6>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('input[name="all-products"]').change(function() {
            $('input[name="products"]').prop('checked', this.checked);
        });

        $('input[name="products"]').change(function() {
            if (!$('input[name="products"]').not(':checked').length) {
                $('input[name="all-products"]').prop('checked', true);
            } else {
                $('input[name="all-products"]').prop('checked', false);
            }
        });
    });
</script>